@media only screen and (max-width: 720px) {
  .profile-summary__menu__mainmenu li {
    font-size: 10px; } }

@media only screen and (max-width: 480px) {
  .mobile-about-content--header__editbtn {
    min-width: 70px;
    height: 30px;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer; }
  body {
    background: #f5f8f9;
    overflow-x: hidden; }
  .profile-body {
    margin-top: 20px;
    background: #fff;
    height: auto;
    min-height: 260px;
    padding: 0px; }
  .profile-body__tab-content {
    --n: 1;
    display: flex;
    align-items: center;
    width: 100%;
    width: calc(var(--n)*100%);
    transform: translate(calc(var(--i)/var(--n)*-100%));
    transition: transform .5s ease-out; }
  .profile-body__tab-content > div {
    width: 100%;
    width: calc(100%/var(--n));
    padding: 20px; }
  .mobile-about-content--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .mobile-about-content--header h4 {
    margin-bottom: 20px;
    font-size: 26px;
    color: #ccd0d4;
    font-weight: 300; }
  .mobile-about-content--header__editbtn {
    min-width: 30px;
    background: #ecf1f5;
    border-radius: 0px; }
  .mobile-about-content--header__editbtn:hover {
    background: #007ee5;
    color: #fff; }
  .mobile-about-content__name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px; }
  .mobile-about-content__mobile, .mobile-about-content__website, .mobile-about-content__address {
    margin-bottom: 10px;
    font-size: 14px; }
  .mobile__edit-form__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .mobile__edit-form__header__cancel_btn, .mobile__edit-form__header__submit_btn {
    font-size: 14px;
    color: #007ee5;
    text-transform: uppercase;
    border: none;
    margin-left: 15px;
    cursor: pointer;
    outline: none; }
  .mobile__edit-form__content label {
    color: #a6b0b7;
    font-size: 12px;
    text-transform: uppercase; } }
