$main-color : #007ee5;
@media only screen and (max-width : 480px)
    
    .row
        flex-direction: column

    .profile-summary
        height: auto
        margin: 0px
        background: #f5f8f9

    .profile-summary-topsection
        height: auto

    .profile-summary__auth__button
        border: none;
        background: transparent

    .profile-summary__upload
        display: none

    .profile-summary__detail
        flex-direction: column

    .profile-summary__detail__photoandbio, .profile-summary__detail__photoandbio__bio
        width: 100%
        align-items: center

    .profile-summary__detail__photoandbio__bio
        display: flex
        flex-flow: column
        align-items: center
        margin-left: 0px

    .profile-summary__detail__photoandbio img
        margin-bottom: 20px

    .profile-summary__detail__photoandbio__bio p
        align-self: flex-start

    .profile-summary__detail__review
        width: 100%
        align-items: flex-start

    .profile-summary__detail__review__rating
        color: $main-color

    .profile-summary__detail__follower
        display: flex
        width: 100%
        justify-content: flex-start
        align-items: center
        margin-top: 10px

    .profile-summary__menu
        padding: 0px
        justify-content: space-around
        margin-top: 20px
        background: #fff

    .profile-summary__menu__mainmenu
        width: 100%

    .profile-summary__menu__follower
        display: none

    .profile-summary__menu__follower--add
        font-size: 30px
        
    .menu-item__link
        font-size: 12px
    