$main-color : #007ee5;

%button
    min-width: 70px
    height: 30px
    border-radius: 3px
    border: none
    outline: none
    cursor: pointer

*
    font-family: 'Open Sans', sans-serif
    padding: 0
    margin: 0
    box-sizing: border-box
.body
    overflow-x: hidden
.row
    display: flex
    flex-flow: row
    justify-content: flex-start
    align-items: flex-start

.profile-summary
    max-width : 1170px
    min-width: 320px
    height : 300px
    margin: 50px auto
    margin-bottom: 20px
    box-shadow: 0px 1px 6px 0px rgba(114, 126, 136, 0.28)

.profile-summary-topsection
    height: 240px

.profile-summary__auth
    display : flex
    flex-flow: column wrap
    align-items: flex-end

.profile-summary__auth__button
    width: 97px
    height: 30px
    font-size: 12px
    font-weight: bold
    font-family: 'Open Sans'
    text-transform: uppercase
    color: $main-color
    background: #fff
    border: 1px solid $main-color
    border-radius: 3px
    margin: 25px 25px 0 0
    cursor: pointer
    outline: none
    transition: 0.2s all

.profile-summary__auth__button:hover
    color: #fff
    background: $main-color

.profile-summary__upload
    display : flex
    flex-flow: column wrap
    align-items: center

.profile-summary__upload__button
    width: 220px
    height: 45px
    font-size: 15px
    font-family: 'Open Sans'
    color: #3f454a
    background: #fff
    border: 1px solid #d0dce7
    border-radius: 3px
    display: flex
    flex-direction: row
    justify-content: space-evenly
    align-items: center
    cursor: pointer
    outline: none
    padding-left: 10px

.profile-summary__upload__button   .ion-camera 
    font-size: 24px
    color: #d0dce7
    margin-right: 10px

.profile-summary__detail
    justify-content: space-between
    align-items: center
    padding: 0 20px 0 20px

.profile-summary__detail__photoandbio__bio
    align-self: center;
    margin-left: 30px;

.profile-summary__detail__photoandbio__bio h4
    font-size: 20px
    font-weight: 600

.profile-summary__detail__photoandbio__bio p
    margin-top: 8px
    margin-bottom: 8px
    font-size: 14px

.profile-summary__detail__photoandbio__bio p .icon
    margin-right: 10px

.profile-summary__detail__photoandbio img
    width: 170px
    height: 170px
    object-fit: contain
    position: relative
    top: 15px
.profile-summary__detail__review
    color: #727e88
    justify-content: flex-end
    align-items: center

.profile-summary__detail__review__rating
    font-size: 20px
    margin-right: 10px
.profile-summary__detail__follower
    display: none

.profile-summary__detail__review__count
    font-size: 13px

.profile-summary__menu
    justify-content: space-between
    align-items: center
    height: 60px
    margin: 0px
    padding-left: 210px
    box-shadow: 0px -1px 6px 0px rgba(114, 126, 136, 0.28);

.profile-summary__menu__mainmenu
    width: 80%
    display: flex
    justify-content: space-around
    align-items: center

.profile-summary__menu__mainmenu li
    list-style: none
    color: #3f454a
    font-size: 15px
    height: 60px
    padding-top: 20px
    box-sizing: border-box

.profile-summary__menu__mainmenu .menu-item--active
    border-bottom: 2px solid $main-color
    display: block

.menu-item__link
    text-decoration: none
    color: #333
.profile-summary__menu__follower
    width: 50%
    display: flex
    justify-content: flex-end
    align-items: center
    padding-right: 20px

.profile-summary__menu__follower--add
    margin-right: 10px
    color: #a6b0b7
    font-size: 20px
    cursor: pointer

.profile-summary__menu__follower--count
    color: #a6b0b7
    font-size: 13px

.profile-summary__menu__follower--count span
    color: #333

    // PROFILE BODY
.profile-body
    max-width : 1170px
    min-width: 320px
    height: 610px
    margin: 0 auto
    padding: 40px
    box-shadow: 0px 1px 6px 0px rgba(114, 126, 136, 0.28)

.profile-body__tab-content > div
    display: none

.profile-body__tab-content__about h4
    margin-bottom: 30px
    font-size: 26px
    color: #ccd0d4
    font-weight: 300

.profile-body__tab-content > div:nth-of-type(1)
    display: block

.about-content
    display: flex
    flex-direction: column
    justify-content: flext-start

.about-content__name, .about-content__website, .about-content__mobile, .about-content__address
    display: flex
    flex-direction: row
    justify-content: flex-start
    height: 37px
    margin-bottom: 5px
.about-content__paragraph
    padding: 8px
    color: #333
    font-size: 14px
    background: #f5f8f8

.about-content__paragraph .icon
    font-size: 18px
    margin-right: 5px

.about-content__name .about-content__paragraph
    font-size: 16px
    font-weight: 700
.about-content__edit-btn
    width: 43px;
    background: #ecf1f5
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    cursor: pointer
.about-content__edit-btn:hover
    background: $main-color

.about-content__edit-btn > .icon
    display: block
.about-content__edit-btn:hover > .icon
    color: #fff
.popup
    min-width: 250px
    position: relative
    top: -30px
    box-shadow: 0px 2px 25px 0px #ddd
    background: #fefefe
    z-index: 1000
    padding: 30px

.popup-arrow
    width: 25px
    content: ' '
    height: 25px
    position: relative
    left: -9px
    top: 10px
    transform: rotate(45deg)
    background: #fff
    z-index: 2000
    background: #fefefe
.popup > h4
    color: #a6b0b7
    font-size: 14px
    font-weight: 300
    margin-bottom: 5px

form label
    position: relative
    top: -40px
    color: gray
    font-size: 16px
    transition: 500ms
    pointer-events: none

input:focus + label, input:valid + label
    transform: translateY(-25px)
    top: -65px
    font-size: 12px

.popup__edit-form__edit-text
    width: 100%
    height: 30px
    border: none
    outline: none
    border-bottom: 1px solid #dadada
    font-size: 16px
    margin-bottom: 15px
    z-index: 1000

.popup__edit-form__edit-text:focus
    border-bottom: 1px solid $main-color

.popup__edit-form__save-btn
    @extend %button
    width: 100px
    background: $main-color
    color: #fff
    text-transform: uppercase
    margin-right: 15px

.popup__edit-form__cancel-btn
    @extend %button
    width: 100px
    background: #fff
    color: $main-color
    border: 1px solid $main-color
    text-transform: uppercase
